text,label
I can t be happier that I feel so good,0
I m fine don t worry,0
I feel like I m on top of the world,0
I feel like I was born again,0
I m healthy as a bull,0
I feel good I m not sick,0
I m feeling run down,1
I m not feeling up to par,1
I m under the weather,1
I m feeling ill,1
I m feeling a bit under the weather,1
I m not feeling 100,1
I m not feeling my best,1
I m feeling lousy,1
