I can t be happier that I feel so good
I m fine don t worry
I feel like I m on top of the world
I feel like I was born again
I m healthy as a bull
I feel good I m not sick
I feel like I m on a volcano
I m positive everything will be fine
I m full of energy
I m as fresh and invigorated as a cucumber
