I m feeling run down
I m not feeling up to par
I m under the weather
I m feeling ill
I m feeling a bit under the weather
I m not feeling 100
I m not feeling my best
I m feeling lousy
I m not feeling well today
I m feeling sick
